.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../img/MenuAberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--cor-de-barra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center ;
}

.container__imagem {
    padding: 0.7em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo {
    color: var(--cor-destaque);
    font-weight: 700;
}

.lista-menu__link {
    text-decoration: none;
    font-weight: 100;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
} 


.lista-menu__titulo,
.lista-menu__item {
    padding: 0.8em;
    background-color: var(--cor-de-barra);
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}


@media screen and (min-width: 1024px) {
    
    .container__titulo, 
    .container__titulo--negrito {
        font-size: 30px;
        font-family: var(--fonte-secundaria);
    } 

    .container__logo {
        margin-left: 3em;
    }

    .container-topo {
        margin-right: 3em;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .container__imagem-transparente {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--cor-de-texto);
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item{
        padding: 2em 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: black;
    }
    
    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }
    
    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--cor-de-texto);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .container-topo {
        display: flex;
    }

    .container__texto{
        display: block;
    }
    

    .cabecalho {
        padding: 0 2em;
    }
    
    .opcoes {
        margin-right: auto;
    }
}

